@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main_1: #FFFFFF;
  --content_1: #1C1D24;
  --content_2: #F2F2F2;
  --content_3: #AEAEAE;
  --content_4: #8E8E8E;
  --accent_1: #FFBB4D;
  --accent_red: #A72020;
  --accent_green: #1F6E12;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* mx-auto px-8 md:px-8 lg:px-16 justify-between items-center */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
body h1 {
  font-family: var(--font-uncage);
  font-size: 2rem;
  font-weight: 400;
  
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-vela-sans);
  font-weight: 400;
}

@media (width >= 1024px) {
  .container {
  padding-left: 4rem;
  padding-right: 4rem;
  }
}

